<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <div class="container">
        <h1>Bem-vindo ao Sistema de Gerenciamento de Usuários</h1>
        <a href="login.html" class="button">Login</a>
        <a href="{{ url_for('cadastro') }}" class="button">Cadastrar Usuário</a>
        <a href="{{ url_for('list_users') }}" class="button">Listar Usuários</a>
    </div>
</body>
</html>
